.auth-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.auth-banner-container {
  display: none;
}

.auth-form-container {
  width: 100%;
}

.login-card {
  padding: 10px 10px 30px 10px;
  background: #6c6c6c;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.login-card h1 {
  padding-top: 60px;
  text-align: center;
  color: #fff;
  font-weight: normal;
}

.login-submit {
  margin-top: 20px;
  text-align: center;
}

.login-submit button {
  width: 260px;
  height: 50px;
}

@media (min-width: 576px) {
  .auth-form-container {
    width: 480px;
  }

  .login-card {
    padding: 50px;
    height: 573px;
  }

  .login-card h1 {
    font-size: 48px;
  }
 
}
@media (min-width: 768px) {
  .auth-form-container {
    width: 550px;
  }

  .login-submit button {
    width: 450px;
  }
}
@media (min-width: 1200px) {
  .auth-container {
    padding: 40px;
  }
  .auth-banner-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 400px;
    margin-left: 50px;
  }

  .auth-banner-container h1 {
    font-size: 48px;
    line-height: 65px;
    letter-spacing: -0.015em;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .auth-banner-container p {
    font-size: 22px;
    color: #f2f2f2;
    margin-bottom: 50px;
    width: 320px;
  }

  .auth-banner-container svg {
    width: 320px;
  }
}
@media (min-width: 1400px) {
  .auth-banner-container h1 {
    font-size: 50px;
  }
  .auth-banner-container p {
    font-size: 25px;
  }

  .auth-banner-container svg {
    width: 100%;
  }
}
